<form class="login-form" action={{path}} method='POST'>
    <div class="form-control">
        <label for='email'>Email</label>
        <input id='email' type='text' value="{{#if editing  }}{{product.title}}{{/if}}" name='email'>
    </div>
    <div class="form-control">
        <label for='password'>Password</label>
        <input id='password' type='password' name='password'>
    </div>
    <button type='submit'>login</button>
    </div>
</form>