{{>head}}
    <body>
        <header class='main-header'>
            {{>navigation}}
        </header>
        <main>
            {{{body}}}
        </main>
            {{>footer}}
    </body>
</html>