.product-form{
    width: 30rem;
    max-width: 90%;
    margin: auto;
    height: 5rem;
}
.form-control{
    margin : 1rem 0;
}

.form-control label,
.form-control input,
.form-control button,
.form-control textarea{
    display: block;
    margin: 1rem;
}
.form-control input,
.form-control textarea{
    border: 1px solid #e4b724;
    font: inherit;
    border-radius: 2px;
}
button{
    font: inherit;
    border: 1px solid #681168;
    cursor: pointer;
    border-radius: 3px;
    background-color: white;

}
button:active,
button:hover{
    background-color: #ad38ad;
    color: white;
}